.git/
.github/
.husky/
.vscode/
node_modules/
.dockerignore
.editorconfig
.env*
.eslintrc.json
.gitattributes
.gitignore
.prettierrc
azure-pipeline.yaml
CONTRIBUTING*
docker-compose.yaml
Dockerfile
jsconfig.json
LICENSE
README.md
sonar-project.properties