extends index
block title
    h1 Дякуємо, що приєднались до нас
block description
    p #{firstName}, будь ласка, приділіть секунду, щоб переконатись, що ми правильно отримали вашу електронну адресу:
    a(href=`${process.env.CLIENT_URL}/?confirmToken=${confirmToken}`) Підтвердіть свою електронну адресу
    p Майте на увазі, що це посилання доступне лише протягом 24 годин. <br/> Якщо ви не реєструвались на SpaceToStudy, можете проігнорувати цей лист.

