extends index
block title
    h1 Вітаємо, #{firstName}
block description
    p Ви занадто довго були неактивні. Якщо ви не здійснете вхід протягом 7 днів, ваш акаунт буде видалено.<br/>Ви не зможете отримати доступ до свого акаунту після його видалення.
    a(href=`${process.env.CLIENT_URL}/?login`) Увійти 
