extends index
block title
    h1 Вітаємо, #{firstName}
block description
    p Ви подали запит на скидання паролю для свого акаунту на SpaceToStudy. Щоб продовжити, натисніть «скинути мій пароль».
    a(href=`${process.env.CLIENT_URL}/?resetToken=${resetToken}`) Скинути мій пароль
    p Майте на увазі, що це посилання доступне лише протягом 24 годин. <br/> Якщо ви не реєструвались на SpaceToStudy, можете проігнорувати цей лист.
