extends index
block title
    h1 Вітаємо, #{firstName}
block description
    p Пароль для вашого акаунту на SpaceToStudy було змінено. Якщо це були не Ви, перейдіть на головну сторінку, щоб змінити його
    a(href=`${process.env.CLIENT_URL}`) Перейти на головну сторінку
