extends index
block title
    h1 Hi, #{firstName}
block description
    p You have requested a password reset for your account at SpaceToStudy. Please click “reset my password” to continue.
    a(href=`${process.env.CLIENT_URL}/?resetToken=${resetToken}`) Reset your password
    p Please note that this link is only available for 24 hours. <br/> If you had not entered SpaceToStudy, please ignore this email.
