@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');

* {
  margin: 0 auto;
  text-align: center;
  box-sizing:border-box;
}
  
body {
  max-width: 660px;
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: #FAFAFA;
  margin-bottom: 30px;
  padding: 30px 0 ;
  color: #263238;
}

header h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  margin-top:24px;
  width:80%
}

header p {
  margin-top: 32px;
  font-size: 18px;
  line-height: 24px;
}

header a {
  display: inline-block;
  margin-top: 32px;
  font-size: 18px;
  padding: 16px 32px;
  background-color: #263238;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.info div {
  max-width: 485px;
  border: 1px solid #E2E8F0;
}

.info p {
  margin-top: 32px;
  color: #455A64;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.info p a {
  color: #455A64;
  text-decoration: none;
  font-weight: 600;
  margin-left: 3px;
}

p {
  color: #263238;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  width: 80%;
}

footer {
  margin-top: 30px;
  background-color: #FAFAFA;
  padding: 40px 0;
  font-size: 16px;
}


