@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0 auto;
  text-align: center;
}
  
body {
  max-width: 660px;
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: #FAFAFA;
  margin-bottom: 64px;
  padding: 65px 110px;
  color: #263238;
}

header h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
}

header p {
  margin-top: 32px;
  font-size: 18px;
  line-height: 24px;
}

header a {
  display: inline-block;
  margin-top: 32px;
  font-size: 18px;
  padding: 16px 32px;
  background-color: #263238;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.info {
  padding: 0px 49px 0px 69px;
}

.info div {
  width: 485px;
  border: 1px solid #E2E8F0;
}

.info p {
  margin-top: 32px;
  color: #455A64;
  font-size: 16px;
  line-height: 24px;
}

.info p a {
  color: #455A64;
  text-decoration: none;
  font-weight: 600;
}

p {
  color: #263238;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

footer {
  margin-top: 167px;
  background-color: #FAFAFA;
  padding: 48px 150px;
  font-size: 16px;
  line-height: 24px;
}
