extends index
block title
    h1 Thank you for joining us
block description
    p #{firstName}, please take a second to make sure we’ve got your email right:
    a(href=`${process.env.CLIENT_URL}` + '/activate/' + activationLink) Confirm your email
